@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
    color: black;
    background-color: #f2f2f2;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #f2f2f2;
}
li{
    float:right;
    
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: lightgray;
    cursor: pointer;
}
.left{
    float: left;
    color: black;
    padding: 14px 16px;
}

.grid-container > div {
    
    text-align: center;
    
    font-size: 20px;

}
.item1{
    grid-area: header;
}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: right;
}
.item5{
    grid-area: footer;
}
.grid-container{
    display:grid;
    grid-template-areas:"header header header"
        "menu main main"
        "footer footer footer";
    grid-gap: 10px;
    padding: 10px;
}


.item-header{
    grid-area: header;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: black;
    color: white;
    text-align: right;
    border: none;
}

.button{
    background-color: #DDD;
    color: midnightblue;
    cursor: pointer;
}
.item-footer{
    grid-area: footer;
}

@media screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns: 1fr 3fr;
        grid-template-areas: "header header"
            "menu menu"
            "main main"
            "main main"
            "right right"
            "footer footer";
    }
}
@media (min-width:600px) and (max-width: 992px)  {
    .grid-container{
        grid-template-columns: 1fr 4fr;
        grid-template-areas: "header header"
            "menu main"
            "right right"
            "footer footer";
    }
}


#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}
.dynamic{
    font-size: 30px;
}